# --- Java / Maven ---
target/
*.class
*.jar
!.mvn/wrapper/maven-wrapper.jar
.mvn/
hs_err_pid*

# --- Node / Angular ---
node_modules/
dist/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- Env / secretos ---
.env
*.local

# --- IDE ---
.idea/
*.iml
.vscode/
.DS_Store

# --- Docker ---
*.pid

# --- Logs ---
*.log
logs/
PRUEBA-TECNICA-ASPIRANTE (1).pdf
